[submodule "modules/libft"]
	path = modules/libft
	url = https://github.com/Aguerin42/libft.git
[submodule "modules/environment"]
	path = modules/environment
	url = https://github.com/Aguerin42/environment.git
[submodule "modules/libag"]
	path = modules/libag
	url = https://github.com/Aguerin42/libag.git
[submodule "modules/line_input"]
	path = modules/line_input
	url = https://github.com/aguerin42/line_input.git
[submodule "modules/completion"]
	path = modules/completion
	url = https://github.com/aguerin42/completion.git
[submodule "modules/parser"]
	path = modules/parser
	url = https://github.com/mtacnet/parser.git
[submodule "modules/history"]
	path = modules/history
	url = https://github.com/aguerin42/history.git
[submodule "modules/error"]
	path = modules/error
	url = https://github.com/mtacnet/error.git
[submodule "modules/execution"]
	path = modules/execution
	url = https://github.com/mtacnet/execution.git
[submodule "modules/builtins"]
	path = modules/builtins
	url = https://github.com/tgrange42/builtins42.git
